*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */

.card-funcionario{
    border: 1px solid #000;
    border-radius: 6px;
    box-shadow: 1px 1px 1px #000036;
    width: max-content;
    padding: 8px 16px;
    margin-left: 50px;
    margin-top: 50px;
}

#form-cadastro{
    border: 1px solid #000;
    width: max-content;
    padding: 15px 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row{
    display: flex;
    flex-direction: column;
}